body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(70, 70, 67);
    perspective: 1000px;
    height: 100vh;
    overflow: hidden;
}

.card{
    width: 200px;
    height: 300px;
    background-color: rgb(75, 79, 80);
    border: 3px solid black;
    margin: 150px auto;
    transform-style: preserve-3d;
    animation: myanime 7s linear infinite;
}

.card img{
    width: 100%;
    height: 300px;
    backface-visibility: hidden; 
}

.back{
    text-align: center;
    position: absolute;
    top: 20%;
    right: 25%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


@keyframes myanime{
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}